---
layout: default
title: ARCHIVE
permalink: /archive/
---

<div class="archives">
  {% for category in site.categories %}
    <div class="archive">
      <h2>
        {% if category.first == "Diary" %}
          <i class="fas fa-book"></i>
        {% endif %}
        {% if category.first == "Dev" %}
          <i class="fas fa-code"></i>
        {% endif %}
        {% if category.first == "Study" %}
          <i class="fas fa-pencil-ruler"></i>
        {% endif %}
        <span class="category">{{ category.first }}</span>
      </h2>
      <ul>
        {% for post in category.last %}
          <li>
            <span class="date">{{ post.date | date: "%Y-%m-%d" }}</span>
            <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
          </li>
        {% endfor %}
      </ul>
    </div>
  {% endfor %}
</div>
