<!DOCTYPE html>
<html>
  <head>
    <title>{% if page.title %}{{ page.title }} - {% endif %}{{ site.name }}</title>

    {% include meta.html %}
    {% seo title=false %}
    {% feed_meta %}

    <!--[if lt IE 9]>
      <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/r29/html5.min.js"></script>
    <![endif]-->

    <link rel="stylesheet" href="{{ site.baseurl }}/style.css">
    <link rel="stylesheet" href="//use.fontawesome.com/releases/v5.3.1/css/all.css">
  </head>

  <body>
    <div class="wrapper-masthead">
      <div class="container">
        <header class="masthead clearfix">
          <a href="{{ site.baseurl }}/" class="site-avatar"><img src="{{ site.avatar }}" alt="avatar"></a>

          <div class="site-info">
            <h1 class="site-description"><a href="{{ site.baseurl }}/">{{ site.description }}</a></h1>
            <p class="site-name">{{ site.name }}</p>
          </div>

          <nav>
            <a href="{{ site.baseurl }}/">首页</a>
            <a href="{{ site.baseurl }}/archive/">归档</a>
            <a href="{{ site.baseurl }}/about/">关于</a>
          </nav>
        </header>
      </div>
    </div>

    <div id="main" role="main" class="container">
      {{ content }}
    </div>

    <div class="wrapper-footer">
      <div class="container">
        <footer class="footer">
          {% include svg-icons.html %}
        </footer>
      </div>
    </div>

    {% include analytics.html %}
  </body>
</html>
